body {
    background-color: rgb(50, 50, 50);
}

.form-body {
    background-color: rgb(78, 78, 78);
    padding: 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.my-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
}

.test {
    background-color: red;
}

.color-box {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 0px 2px 4px rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}