@model LoginUser

<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <div class="card-body">
    <form asp-action="Login" asp-controller="Home" method="get">

      <div class="form-floating">
        <input asp-for="LoginEmail" class="form-control" placeholder="Email:">
        <label asp-for="LoginEmail">Email:</label>
        <span asp-validation-for="LoginEmail" class="validation-text"></span>
      </div>
      
      <div class="form-floating mt-3">
        <input type="password" asp-for="LoginPassword" class="form-control" placeholder="Password:">
        <label asp-for="LoginPassword">Password:</label>
        <span asp-validation-for="LoginPassword" class="validation-text"></span>
      </div>

      <input type="submit" value="Login" class="btn btn-primary mt-3">

    </form>
  </div>
</div>