@{
    ViewData["Title"] = "Dojo Survey";
}

@model Survey

<div class="card col-4 m-auto mt-4">
    <div class="card-header text-center bg-primary">
      <h2>Dojo Survey</h2>
    </div>
    <div class="card-body col-11 m-auto">
      <form asp-action="Process" asp-controller="Home" method="post">

        <div class="form-floating">
          <input asp-for="YourName" class="form-control" placeholder="Your Name:">
          <label asp-for="YourName">Your Name:</label>
          <span asp-validation-for="YourName" class="validation-text"></span>
        </div>

        <div class="form-floating mt-3">
          <select class="form-select" asp-for="DojoLocation">
            <option selected hidden disabled>Select Location</option>
            <option value="Online/Remote">Online/Remote</option>
            <option value="Chicago, IL">Chicago, IL</option>
          </select>
          <label asp-for="DojoLocation">Dojo Location:</label>
          <span asp-validation-for="DojoLocation" class="validation-text"></span>
        </div>

        <div class="form-floating mt-3">
          <select class="form-select" asp-for="FavLanguage">
            <option selected hidden disabled>Select Language</option>
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
            <option value="CSS">CSS</option>
            <option value="HTML">HTML</option>
          </select>
          <label asp-for="FavLanguage">Favorite Language:</label>
          <span asp-validation-for="FavLanguage" class="validation-text"></span>
        </div>

        <div class="form-floating mt-3">
          <textarea class="form-control" placeholder="Comments (Optional):" asp-for="Comments"
            style="height: 100px"></textarea>
          <label asp-for="Comments">Comments (Optional):</label>
          <span asp-validation-for="Comments" class="validation-text"></span>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary mt-3">

      </form>
    </div>
  </div>
